[Unit]
Description=Check RKN Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/db/csv
ExecStart=/usr/local/bin/check_rkn 127.0.0.1:9999 ./
Restart=on-failure
DynamicUser=yes
StandardOutput=file:/var/log/check_rkn/check_rkn.log
StandardError=file:/var/log/check_rkn/check_rkn.error.log
SyslogIdentifier=check_rkn

[Install]
WantedBy=multi-user.target
